In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('segmentcountovertime.csv')
df.groupby(['name']).count()
#interate over josh dates and if date exist and not Lauri e- print

                         date  colour  count
name
Arvind Ramanathan         125     125    125
Avalon Powell             125     125    125
Eoin Craigie              125     125    125
Frank Oduro               125     125    125
Josh Felker               125     125    125
Laurie McQueen            112     112    112
Leila H                   125     125    125
Marc Devlin               125     125    125
Mario Born                125     125    125
Mathieu Gagné             125     125    125
Mike Sants                125     125    125
Patrick Santeusanio       125     125    125
Sasha Wloski              125     125    125
Vincent Trudel-Lapierre   125     125    125
Vitor Lima                125     125    125
Yibing Wen                125     125    125

In [7]:

df_josh = df[df['name'] == 'Josh Felker']
df_josh['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

#last date before person added
enddate = '2016-05-24'
df_josh = df_josh[df_josh['date'] <= enddate]

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

datetime.datetime(2016, 5, 24, 0, 0)

In [8]:
df_josh['name'] = 'Leila H'
df_josh['colour'] = 'C7258E'
df_josh['count'] = 0
df_josh
df2 = df.append([df_josh])
df2['date'] = pd.to_datetime(df2['date'],format='%Y-%m-%d')
df2 = df2.sort_values(by='date')

In [9]:
df2.to_csv('segmentcountovertime2.csv', index=False)