In [1]:
import pandas as pd
from datetime import datetime

In [6]:
df = pd.read_csv('segmentcountovertime.csv')
df.groupby(['name']).count()
#interate over josh dates and if date exist and not Lauri e- print

                         date  colour  count
name
Arvind Ramanathan         141     141    141
Avalon Powell             141     141    141
Eoin Craigie              141     141    141
Frank Oduro               141     141    141
Henry Jenkins             141     141    141
Josh Felker               141     141    141
Laurie McQueen            128     128    128
Leila H                   141     141    141
Marc Devlin               141     141    141
Mario Born                141     141    141
Mathieu Gagné             141     141    141
Mike Sants                141     141    141
Patrick Santeusanio       141     141    141
Sasha Wloski              141     141    141
Vincent Trudel-Lapierre   141     141    141
Vitor Lima                141     141    141
Yibing Wen                141     141    141

In [3]:

df_josh = df[df['name'] == 'Josh Felker']
df_josh['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

#last date before person added
enddate = '2016-06-14'
df_josh = df_josh[df_josh['date'] <= enddate]

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [4]:
df_josh['name'] = 'Henry Jenkins'
df_josh['colour'] = 'FF6633'
df_josh['count'] = 0
df_josh
df2 = df.append([df_josh])
df2['date'] = pd.to_datetime(df2['date'],format='%Y-%m-%d')
df2 = df2.sort_values(by='date')

In [5]:
df2.to_csv('segmentcountovertime2.csv', index=False)