In [6]:
import requests
from stravalib.client import Client
from collections import defaultdict
import csv
import time
import datetime
import pandas as pd

In [3]:
listofdicts = []
client = Client(access_token='76824abf6abf903eb3d8b0bde83625135c0be0ec')
athlete = client.get_athlete()
josh_friends = client.get_athlete_friends(5991862)
for friend in josh_friends:
    friend = {'id': friend.id, 'firstname': friend.firstname, 'lastname': friend.lastname}
    listofdicts.append(friend)

In [4]:
listofdicts

[{'firstname': u'Ali', 'id': 1931824, 'lastname': u'Hussain'},
 {'firstname': u'Yibing', 'id': 6389292, 'lastname': u'Wen'},
 {'firstname': u'Sasha', 'id': 6394270, 'lastname': u'Wloski'},
 {'firstname': u'Arvind', 'id': 6145638, 'lastname': u'Ramanathan'},
 {'firstname': u'Mike', 'id': 8586561, 'lastname': u'Sants'},
 {'firstname': u'Steve', 'id': 8671749, 'lastname': u'Sulpizio'},
 {'firstname': u'Marc', 'id': 8669256, 'lastname': u'Devlin'},
 {'firstname': u'Patrick', 'id': 8694694, 'lastname': u'Santeusanio'},
 {'firstname': u'Avalon', 'id': 8707893, 'lastname': u'Powell'},
 {'firstname': u'Mario', 'id': 8678667, 'lastname': u'Born'},
 {'firstname': u'Mathieu', 'id': 9041359, 'lastname': u'Gagn\xe9'},
 {'firstname': u'Frank', 'id': 9035765, 'lastname': u'Oduro'},
 {'firstname': u'Eoin', 'id': 9690910, 'lastname': u'Craigie'},
 {'firstname': u'Rene', 'id': 10252784, 'lastname': u'Duquesnoy'},
 {'firstname': u'Laurie', 'id': 11682046, 'lastname': u'McQueen'},
 {'firstname': u'Vitor', 'id': 14749152, 'lastname': u'Lima'},
 {'firstname': u'Leila', 'id': 15015386, 'lastname': u'H'},
 {'firstname': u'Vincent', 'id': 12032937, 'lastname': u'Trudel-Lapierre'},
 {'firstname': u'gareth', 'id': 90245, 'lastname': u'reeves'},
 {'firstname': u'Henry', 'id': 2021048, 'lastname': u'Jenkins'}]

In [9]:
friend_df = pd.DataFrame(listofdicts)

In [10]:
friend_df

   firstname        id         lastname
0        Ali   1931824          Hussain
1     Yibing   6389292              Wen
2      Sasha   6394270           Wloski
3     Arvind   6145638       Ramanathan
4       Mike   8586561            Sants
5      Steve   8671749         Sulpizio
6       Marc   8669256           Devlin
7    Patrick   8694694      Santeusanio
8     Avalon   8707893           Powell
9      Mario   8678667             Born
10   Mathieu   9041359            Gagné
11     Frank   9035765            Oduro
12      Eoin   9690910          Craigie
13      Rene  10252784        Duquesnoy
14    Laurie  11682046          McQueen
15     Vitor  14749152             Lima
16     Leila  15015386                H
17   Vincent  12032937  Trudel-Lapierre
18    gareth     90245           reeves
19     Henry   2021048          Jenkins

In [12]:
friend_df.to_csv('warlord_friends.csv', index=False, encoding='utf-8')

In [40]:
friend_df1 = pd.read_csv('warlord_friends.csv')

#friend_df1['name'] = friend_df1['firstname']+' '+friend_df1['lastname']
#friend_df1.to_csv('warlord_friends.csv', index=False, encoding='utf-8')
friend_df1

,firstname,id,lastname,warlord,name,colour
0,Ali,1931824,Hussain,False,Ali Hussain,NaN
1,Yibing,6389292,Wen,True,Yibing Wen,8126C0
2,Sasha,6394270,Wloski,True,Sasha Wloski,FFEE33
3,Arvind,6145638,Ramanathan,True,Arvind Ramanathan,29C0C0
4,Mike,8586561,Sants,True,Mike Sants,1D6914
5,Steve,8671749,Sulpizio,True,Steve Sulpizio,575757
6,Marc,8669256,Devlin,True,Marc Devlin,2A4BD7
7,Patrick,8694694,Santeusanio,True,Patrick Santeusanio,FFFFFF
8,Avalon,8707893,Powell,True,Avalon Powell,575757
9,Mario,8678667,Born,True,Mario Born,FF9233
10,Mathieu,9041359,Gagné,True,Mathieu Gagné,C7258E
11,Frank,9035765,Oduro,True,Frank Oduro,FFCDF3
12,Eoin,9690910,Craigie,True,Eoin Craigie,78BEE9
13,Rene,10252784,Duquesnoy,False,Rene Duquesnoy,NaN
14,Laurie,11682046,McQueen,True,Laurie McQueen,A03D3D
15,Vitor,14749152,Lima,True,Vitor Lima,B7E628
16,Leila,15015386,H,True,Leila H,FBEFAE
17,Vincent,12032937,Trudel-Lapierre,True,Vincent Trudel-Lapierre,DAFEFA
18,gareth,90245,reeves,False,gareth reeves,NaN
19,Henry,2021048,Jenkins,True,Henry Jenkins,FF5820
20,Josh,5991862,Felker,True,Josh Felker,BA9778

In [36]:
friend_df1
warlord_df = friend_df1[friend_df1.warlord == True]
warlord_df

AttributeError: 'DataFrame' object has no attribute 'warlord'

In [22]:
client = Client(access_token='76824abf6abf903eb3d8b0bde83625135c0be0ec')
athlete = client.get_athlete()
josh_friends = client.get_athlete_friends(5991862)
for friend in josh_friends:
    if friend.id in friend_df1.id.values:
        print 'yes'
    else:
        print 'no'

yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest
yest