In [9]:
import pandas as pd
df = pd.DataFrame({'filename' :  ['test0.dat', 'test2.dat'], 
                                  'm': [12, 13], 'n' : [None, None]})
df2 = pd.DataFrame({'filename' :  'test2.dat', 'n':16}, index=[0])

In [10]:
df

    filename   m     n
0  test0.dat  12  None
1  test2.dat  13  None

In [14]:
df2

            n
filename
test2.dat  16

In [12]:
df.set_index('filename', inplace=True)
df2.set_index('filename', inplace=True)

In [15]:
df.update(df2)

In [16]:
df

            m     n
filename
test0.dat  12  None
test2.dat  13    16