In [6]:
import requests
from stravalib.client import Client
from collections import defaultdict
import csv
import time
import datetime
import pandas as pd

In [3]:
listofdicts = []
client = Client(access_token='76824abf6abf903eb3d8b0bde83625135c0be0ec')
athlete = client.get_athlete()
josh_friends = client.get_athlete_friends(5991862)
for friend in josh_friends:
    friend = {'id': friend.id, 'firstname': friend.firstname, 'lastname': friend.lastname}
    listofdicts.append(friend)

In [4]:
listofdicts

[{'firstname': u'Ali', 'id': 1931824, 'lastname': u'Hussain'},
 {'firstname': u'Yibing', 'id': 6389292, 'lastname': u'Wen'},
 {'firstname': u'Sasha', 'id': 6394270, 'lastname': u'Wloski'},
 {'firstname': u'Arvind', 'id': 6145638, 'lastname': u'Ramanathan'},
 {'firstname': u'Mike', 'id': 8586561, 'lastname': u'Sants'},
 {'firstname': u'Steve', 'id': 8671749, 'lastname': u'Sulpizio'},
 {'firstname': u'Marc', 'id': 8669256, 'lastname': u'Devlin'},
 {'firstname': u'Patrick', 'id': 8694694, 'lastname': u'Santeusanio'},
 {'firstname': u'Avalon', 'id': 8707893, 'lastname': u'Powell'},
 {'firstname': u'Mario', 'id': 8678667, 'lastname': u'Born'},
 {'firstname': u'Mathieu', 'id': 9041359, 'lastname': u'Gagn\xe9'},
 {'firstname': u'Frank', 'id': 9035765, 'lastname': u'Oduro'},
 {'firstname': u'Eoin', 'id': 9690910, 'lastname': u'Craigie'},
 {'firstname': u'Rene', 'id': 10252784, 'lastname': u'Duquesnoy'},
 {'firstname': u'Laurie', 'id': 11682046, 'lastname': u'McQueen'},
 {'firstname': u'Vitor', 'id': 14749152, 'lastname': u'Lima'},
 {'firstname': u'Leila', 'id': 15015386, 'lastname': u'H'},
 {'firstname': u'Vincent', 'id': 12032937, 'lastname': u'Trudel-Lapierre'},
 {'firstname': u'gareth', 'id': 90245, 'lastname': u'reeves'},
 {'firstname': u'Henry', 'id': 2021048, 'lastname': u'Jenkins'}]

In [9]:
friend_df = pd.DataFrame(listofdicts)

In [10]:
friend_df

   firstname        id         lastname
0        Ali   1931824          Hussain
1     Yibing   6389292              Wen
2      Sasha   6394270           Wloski
3     Arvind   6145638       Ramanathan
4       Mike   8586561            Sants
5      Steve   8671749         Sulpizio
6       Marc   8669256           Devlin
7    Patrick   8694694      Santeusanio
8     Avalon   8707893           Powell
9      Mario   8678667             Born
10   Mathieu   9041359            Gagné
11     Frank   9035765            Oduro
12      Eoin   9690910          Craigie
13      Rene  10252784        Duquesnoy
14    Laurie  11682046          McQueen
15     Vitor  14749152             Lima
16     Leila  15015386                H
17   Vincent  12032937  Trudel-Lapierre
18    gareth     90245           reeves
19     Henry   2021048          Jenkins

In [12]:
friend_df.to_csv('warlord_friends.csv', index=False, encoding='utf-8')