In [46]:
import pandas as pd
import time
#import datetime
import requests

In [47]:
def hipchatbot(message):
    AUTH_TOKEN = "CXbcMq98SS38ebkUHz0hEAgnXP2b6uuF8GBx0IAE"   #Warlords of MTL
    HEADERS = { "Content-Type": "application/json" }
    HIPCHAT_ROOM_ID = 331 # Warlords of MTL
    HIPCHAT_URL = "https://hipchat.drwholdings.com/v2/room/{}/notification".format(HIPCHAT_ROOM_ID)
    
    data = '{"color": "green", "message": "'+message+'", "notify": false, "message_format": "text"}'
    response = requests.post(HIPCHAT_URL+'?auth_token='+AUTH_TOKEN, data=data, headers=HEADERS)

In [48]:
df = pd.read_csv('warlog.csv')
df

,Date,News,Status
0,2016-06-04 20:54:07.597000,Vincent Trudel-Lapierre claimed 1 unowned terr...,NO
1,2016-06-06 10:29:55.789000,Leila H claimed 7 unowned territories,NO
2,2016-06-06 10:29:55.789000,Leila H conquered 2 territories from Yibing Wen,NO
3,2016-06-06 10:29:55.789000,Yibing Wen claimed 1 unowned territory,NO
4,2016-06-06 10:29:55.789000,Vitor Lima claimed 20 unowned territories,NO
5,2016-06-06 10:29:55.789000,Vitor Lima conquered 3 territories from Yibing...,NO
6,2016-06-06 10:29:55.789000,Vitor Lima conquered 1 territory from Vincent ...,NO

In [49]:
df_unreported = df[df.Status == 'NO']
df_unreported

,Date,News,Status
0,2016-06-04 20:54:07.597000,Vincent Trudel-Lapierre claimed 1 unowned terr...,NO
1,2016-06-06 10:29:55.789000,Leila H claimed 7 unowned territories,NO
2,2016-06-06 10:29:55.789000,Leila H conquered 2 territories from Yibing Wen,NO
3,2016-06-06 10:29:55.789000,Yibing Wen claimed 1 unowned territory,NO
4,2016-06-06 10:29:55.789000,Vitor Lima claimed 20 unowned territories,NO
5,2016-06-06 10:29:55.789000,Vitor Lima conquered 3 territories from Yibing...,NO
6,2016-06-06 10:29:55.789000,Vitor Lima conquered 1 territory from Vincent ...,NO

In [50]:
for index,row in df_unreported.iterrows():
    message = row.News
    hipchatbot(message)
    df['Status'][df.index == index] = 'YES'
    time.sleep(1)
df.to_csv('warlog.csv', index=False)