In [1]:
import pandas as pd
#import time
#import datetime

In [ ]:
def hipchatbot():
    AUTH_TOKEN = "dcdJDEi5agsA5faWG1eEmXoCZktba9PDtokKP4lw" 
    HEADERS = { "Content-Type": "application/json" }
    HIPCHAT_ROOM_ID = 304 # JoshBots
    HIPCHAT_URL = "https://hipchat.drwholdings.com/v2/room/{}/notification".format(HIPCHAT_ROOM_ID)
    
    data = '{"color": "green", "message": "this is a test from a JoshBot (yey)", "notify": false, "message_format": "text"}'
    response = requests.post(HIPCHAT_URL+'?auth_token='+AUTH_TOKEN, data=data, headers=HEADERS)

In [11]:
df = pd.read_csv('warlog.csv')
df

,Date,News,Status
0,2016-06-04 20:54:07.597000,Vincent Trudel-Lapierre claimed 99 unowned ter...,YES
1,2016-06-04 20:54:07.597000,Vincent Trudel-Lapierre claimed 1 unowned terr...,NO

In [12]:
df_unreported = df[df.Status == 'NO']
df_unreported

,Date,News,Status
1,2016-06-04 20:54:07.597000,Vincent Trudel-Lapierre claimed 1 unowned terr...,NO

In [13]:
report = ''
for index,row in df_unreported.iterrows():
    report.append(row['News']

Vincent Trudel-Lapierre claimed 1 unowned territory